# Project information
site_name: Monero Docs
site_description: 'Monero Documentation'
site_author: "Monero Community"
site_url: 'https://docs.getmonero.org'
site_dir: 'public'

copyright: '© 2024 Monero Community under <a href="https://opensource.org/licenses/MIT">MIT</a>'

nav:
- Home: 'index.md'
- Interacting:
  - Download: 'interacting/download-monero-binaries.md'
  - Verify: 'interacting/verify-monero-binaries.md'
  - Overview: 'interacting/overview.md'
  - Config file: 'interacting/monero-config-file.md'
  - monerod: 'interacting/monerod-reference.md'
  - monero-wallet-cli: 'interacting/monero-wallet-cli-reference.md'
  - monero-wallet-gui: 'interacting/monero-wallet-gui-reference.md'
  - monero-wallet-rpc: 'interacting/monero-wallet-rpc-reference.md'
  - monero-blockchain-export: 'interacting/monero-blockchain-export-reference.md'
  - monero-blockchain-import: 'interacting/monero-blockchain-import-reference.md'
- Technical specs: 'technical-specs.md'
- Cryptography:
    - Introduction: 'cryptography/introduction.md'
    - Asymmetric:
      - Introduction: 'cryptography/asymmetric/introduction.md'
      - Private keys: 'cryptography/asymmetric/private-key.md'
      - Public keys: 'cryptography/asymmetric/public-key.md'
      - Edwards25519 curve: 'cryptography/asymmetric/edwards25519.md'
      - Key image: 'cryptography/asymmetric/key-image.md'
    - Base58: 'cryptography/base58.md'
    - PRNG: 'cryptography/prng.md'
    - 'Keccak-256': 'cryptography/keccak-256.md'
- Address:
    - Standard: 'public-address/standard-address.md'
    - Subaddress: 'public-address/subaddress.md'
    - Integrated: 'public-address/integrated-address.md'
- Proof of Work:
    - What is PoW?: 'proof-of-work/what-is-pow.md'
    - PoW in Cryptocurrencies: 'proof-of-work/pow-in-cryptocurrencies.md'
    - CryptoNight: 'proof-of-work/cryptonight.md'
    - RandomX: 'proof-of-work/random-x.md'
- Multisignature: 'multisignature.md'
- Infrastructure:
    - Mainnet, stagenet, testnet: 'infrastructure/networks.md'
    - Tor onion seed nodes: 'infrastructure/tor-onion-p2p-seed-nodes.md'
    - MoneroPulse: 'infrastructure/monero-pulse.md'
- Running a Node:
  # - On your Laptop: 'localhost-node.md'
  # - Remote Node: 'remote-node.md'
  # - Open Remote Node: 'open-remote-node.md'
  - Open Node + Tor Onion: 'running-node/open-node-tor-onion.md'
- Cold storage:
    - Offline Transaction Signing: 'cold-storage/offline-transaction-signing.md'
- Accepting Monero:
    - Overview: 'accepting-monero/overview.md'


theme:
  name: material
  custom_dir: overrides
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep-orange
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep-orange
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
  favicon: images/favicon.ico
  icon:
    logo: logo
  logo: 'images/monero.svg'
  static_templates:
    - 404.html

extra_css: ['overrides.css']

repo_name: 'monero-project/monero-docs'
repo_url: 'https://github.com/monero-project/monero-docs'
# todo: change to master branch
edit_uri: blob/test/docs/

markdown_extensions:
  # https://squidfunk.github.io/mkdocs-material/extensions/admonition/
  - admonition
  - abbr
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.highlight:
      use_pygments: true         # build time highlighting, not client side
  - pymdownx.inlinehilite
  - pymdownx.superfences         # nest code blocks inside codeblocks
  - pymdownx.snippets            # insert content from other files
  - tables

plugins:
  - search
  - minify:
      minify_html: true
      minify_js: true
      htmlmin_opts:
        remove_comments: true
  - privacy
  - i18n:
      docs_structure: folder
      languages:
        - locale: en
          default: true
          name: English
          build: true
        - locale: fr
          name: Français
          build: true
        - locale: es
          name: Español
          build: true
        - locale: it
          name: Italiano
          build: true
        - locale: pl
          name: Polski
          build: true
        - locale: ar
          name: العربية
          build: true
        - locale: ru
          name: Русский
          build: true
        - locale: de
          name: Deutsch
          build: true
        - locale: nl
          name: Nederlands
          build: true
        - locale: pt
          name: Português
          build: true
        - locale: tr
          name: Türkçe
          build: true
        - locale: zh
          name: 中文 (简体)
          build: true
        - locale: zh-TW
          name: 中文 (繁體)
          build: true
        - locale: nb
          name: Norsk Bokmål
          build: true
